* {
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
}
body {
	   background-color: black;
	   color: whitesmoke;
		}
div{
		position: relative;
		}
@media (min-width: 1200px) {
	#box {
  background-color: black;
  padding: 10px;
  margin-top: 50px;
  overflow: auto;
  position: absolute;
  top: 30px;
  left: 5px%;
}
	#box-2 {
  background-color: black;
  padding: 10px;
  margin-top: 0px;
  overflow: auto;
  position: relative;
  top:30px;
  left:50%;
}
}
@media (max-width:1199px){
	#box {
  background-color: black;
  padding: 10px;
  margin-top: 50px;
  overflow: auto;
  position: relative;
  width:80%;
}
	#box-2 {
  background-color: black;
  padding: 10px;
  margin-top: 0px;
  overflow: auto;
  position: relative;
  width:80%;
}
}
	}
		h1 {
		 font-family: Georgia, serif;
         font-size: 200%;
         color: whitesmoke;
         clear: both;
		}
		h2 {
		 font-family: Georgia, serif;
         font-size: 150%;
          color: whitesmoke;
          clear: both;
		}
		p {
			font-family: sans-serif;
			font-size: 100%;
			 color: whitesmoke;
		}
		 li {
			list-style: none;
		}
		a:link, a:visited {
			text-decoration: none;
			background-color: seagreen;
			border: 1px solid green;
			border-radius: 6px;
		    color: whitesmoke;;
			display: block;
			width: 200px;
			text-align: center;
			margin-bottom: 1px;
			font-family: sans-serif;
			font-size: 100%;
			clear: both;
		}
		  li:nth-child(1) a:hover, a:active {
			background-color: lightblue;
			color: purple;
		}
		 li:nth-child(2) a:hover, a:active {
			background-color: orange;
			color: purple;
		}
		li:nth-child(3) a:hover, a:active {
			background-color: pink;
			color: purple;
		}
