		body {
			background-color: black;
			color: whitesmoke;
		}
				#box {
  background-color: black;
  padding: 10px;
  border: 5px solid white;
  width: 400px;
  height: 150px;
  margin-top: 50px;
  overflow: auto;
}
	#box-2 {
  background-color: black;
  padding: 10px;
  border: 5px white;
  width: 400px;
  height: 150px;
  margin-top: 20px;
  overflow: auto;
}
		h1 {
		 font-family: Georgia, serif;
         font-size: 200%;
         color: whitesmoke;
		}
		h2 {
		 font-family: Georgia, serif;
         font-size: 150%;
          color: whitesmoke;
		}
		p {
			font-family: sans-serif;
			font-size: 100%;
			 color: whitesmoke;
		}
		 li {
			list-style: none;
		}
		a:link, a:visited {
			text-decoration: none;
			background-color: seagreen;
			border: 1px solid green;
			border-radius: 6px;
		    color: whitesmoke;;
			display: block;
			width: 200px;
			text-align: center;
			margin-bottom: 1px;
			font-family: sans-serif;
			font-size: 100%;
		}
		  li:nth-child(1) a:hover, a:active {
			background-color: lightblue;
			color: purple;
		}
		 li:nth-child(2) a:hover, a:active {
			background-color: orange;
			color: purple;
		}
		li:nth-child(3) a:hover, a:active {
			background-color: pink;
			color: purple;
		}
